<template>
  <component
    :is="as"
    :id="id"
    ref="element"
    class="popper"
    @contextmenu.capture.prevent
  >
    <slot v-bind="slotProps"></slot>
  </component>
</template>

<script lang="ts">
import { createPopper } from "@popperjs/core/lib/popper-lite";
import preventOverflow from "@popperjs/core/lib/modifiers/preventOverflow";
import flip from "@popperjs/core/lib/modifiers/flip";
import {
  ref,
  provide,
  PropType,
  onMounted,
  onUnmounted,
  watch,
  computed,
  Component,
  defineComponent,
} from "vue";
import {
  addClickOutsideListener,
  ContextMenuAPIKey,
  ContextMenuAPIType,
  handlerMap,
  removeClickOutsideListener,
} from "./functions";
import { Placement } from "@popperjs/core";

export default defineComponent({
  props: {
    disabled: Boolean,
    placement: {
      type: String as PropType<Placement>,
      default: "right-start",
    },
    id: {
      type: String,
      required: true,
    },
    as: {
      type: [String, Object] as PropType<string | Component>,
      default: "div",
    },
    itemClass: {
      type: [String, Array] as PropType<string | string[]>,
    },
    itemStyle: {
      type: [String, Object] as PropType<string | Record<string, unknown>>,
    },
    itemAs: {
      type: [String, Object] as PropType<string | Component>,
      default: "a",
    },
  },
  emits: ["show", "hide"],
  setup(props, ctx) {
    // directive 측에서 contextmenu 마우스 이벤트를 받으면 실행시킬 각 컴포넌트의 handler 입니다.
    onMounted(() => {
      const handler = (evt: Event) => {
        if (props.disabled) return;
        show(evt as MouseEvent);
      };
      handlerMap.set(props.id, handler);
    });
    onUnmounted(() => {
      handlerMap.delete(props.id);
    });

    const state = ref<"show" | "hide">("hide");
    const popperInstance = ref<ReturnType<typeof createPopper>>();
    const element = ref<HTMLElement>();

    // click outside event listener setting
    watch(element, (r, oldR) => {
      const currentElement = r;
      const oldElement = oldR;
      if (oldElement) {
        removeClickOutsideListener(oldElement);
      }
      if (currentElement) {
        addClickOutsideListener(currentElement, (evt) => close());
      }
    });

    // 새로운 Popper Instance 를 만드는 함수입니다.
    const show = (evt: MouseEvent) => {
      if (!element) return;

      if (popperInstance.value) {
        popperInstance.value?.destroy();
        popperInstance.value = undefined;
      }

      if (!element.value) {
        console.error("Container 에서 아직 element가 연결되지 않았습니다.");
        return;
      }

      // 가상으로 object 를 만듭니다.
      const newTop = evt.clientY;
      const newLeft = evt.clientX;
      const newRect = {
        top: newTop,
        left: newLeft,
        bottom: newTop + 1,
        right: newLeft + 1,
        height: 1,
        width: 1,
      };
      const virtualElement = {
        getBoundingClientRect() {
          return newRect;
        },
      };

      // popper 를 생성합니다. contextMenuWrapper 가 설정되면, popperInstance 도 설정됩니다.
      popperInstance.value = createPopper(virtualElement, element.value, {
        placement: props.placement,
        modifiers: [preventOverflow, flip],
      });

      state.value = "show";

      // 이벤트를 뿌립니다.
      ctx.emit("show");
    };

    const close = () => {
      state.value = "hide";
      if (popperInstance.value) {
        popperInstance.value.destroy();
        popperInstance.value = undefined;
      }
      ctx.emit("hide", false);
    };

    let api: ContextMenuAPIType = {
      state,
      close,
      itemClass: props.itemClass,
      itemStyle: props.itemStyle,
      itemAs: props.itemAs,
    };

    provide(ContextMenuAPIKey, api);

    const slotProps = computed(() => ({ state: state.value, close }));

    return {
      close,
      element,
      slotProps,
    };
  },
});
</script>

<style scoped>
.popper {
  position: fixed;
  left: -10000px;
  z-index: 100;
}
</style>
