<template>
  <component
    :is="api.itemAs"
    @click="api.close"
    :class="api.itemClass"
    :style="api.itemStyle"
    href="#"
  >
    <slot></slot>
  </component>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useContextMenuAPI } from "./functions";

export default defineComponent({
  setup() {
    const api = useContextMenuAPI("EcItem");
    return {
      api,
    };
  },
});
</script>
