<template>
  <div>
    <div
      v-ec-contextmenu:my-context
      :style="{ width: '200px', height: '200px', backgroundColor: '#eee' }"
    >
      이 칸에서 우클릭을 해보세요.
    </div>
    <ec-container
      class="context-menu-container"
      style="text-align: left"
      id="my-context"
      :itemStyle="{ display: 'block' }"
      itemClass="font-bold"
      v-slot="api"
    >
      <ec-item @click="log('첫 번째 메뉴가 눌렸습니다.')">첫 번째 메뉴</ec-item>
      <ec-item @click="log('두 번째 메뉴가 눌렸습니다.')">두 번째 메뉴</ec-item>
      <ec-item @click="log('세 번째 메뉴가 눌렸습니다.')">세 번째 메뉴</ec-item>
      <div>안녕하십니까!!</div>
      <button @click="api.close">이 버튼을 클릭하면 닫습니다.</button>
      <pre>state: {{ api.state }}</pre>
    </ec-container>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { EcContainer, EcItem, EcDirective } from "./components/MyContextMenu";

export default defineComponent({
  name: "App",

  directives: {
    EcContextmenu: EcDirective,
  },
  components: {
    EcContainer,
    EcItem,
  },
  setup() {
    return {
      log: console.log,
    };
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.context-menu-container {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
}
.font-bold {
  font-weight: bold;
}
</style>
